header{
    #header-nav{
        height: 7%;
        width: auto;
        background-color: rgba(216, 124, 233, 0.493);
    }

    ul{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        justify-content: space-evenly;
        font-family: cursive;
        font-size: 20px;
        margin-top: 10px;
        
    }
    li{
        list-style: none;
        display: flex;
        
        // margin: 2rem;
    }

}